extends layout

block head
    script(src="/javascripts/game.js")
    link(rel='stylesheet', href='/stylesheets/game.css')

block content
  div.text-center.top-60
    h1= title
    - var first = true;
    - var allCorrect = false;
    - var allGuesses = true;
    - var charColors = {};
    - var topRow = ["q", "w", "e", "r", "t", "y", "u", "i", "o", "p"];
    - var middleRow = ["a", "s", "d", "f", "g", "h", "j", "k", "l"];
    - var bottomRow = ["z", "x", "c", "v", "b", "n", "m", "⟵"];

    div.mt-3
        each word in game.guesses
            div.d-flex.justify-content-center.text-center

                if (word != null)
                    - allCorrect = true;
                    each char in word
                        if (char.accuracy == "correct")
                            - charColors[char.char] = "success";
                            div.input.success #{char.char}
                        else if (char.accuracy == "close")
                            - if (charColors[char.char] == undefined || charColors[char.char] == "danger") charColors[char.char] = "warning";
                            - allCorrect = false;    
                            div.input.warning #{char.char}
                        else
                            - if (charColors[char.char] == undefined) charColors[char.char] = "danger";
                            - allCorrect = false;
                            div.input.danger #{char.char}

                else if (first && !allCorrect)

                    - allGuesses = false;
                    form.text-center(name="guess", method="post", action=process.env.APP_URL + "/game/guess/" + len)
                        div(style="height: 0px; width: 0px;")
                            input#guess(style="opacity: 0; height: 0; width: 0;", type="text", name="guess", maxlength=len, autocomplete="off", autofocus="autofocus", onkeydown="removeNext(this, event)", onkeyup="inputEntered(this, event)")
                            input(type="submit", style="display: none")

                    - for(var i = 0; i < len; i++)
                        - if (i == 0)
                            div.input.cur-input.focus(id="select"+i, onclick="select(this)")
                        - else
                            div.input.cur-input(id="select"+i, onclick="select(this)")

                    - first = false;

                else 
                    - for(var i = 0; i < len; i++)
                        div.input
                                    
    div.spacer              
        if (allGuesses && !allCorrect)
            p.mt-3.answer
                | The word was 
                strong #{game.word}
        if (allGuesses || allCorrect)
            div.mt-3
                button.btn.btn-info(onclick="window.location.href='/game/#{len}'") Play Again
        if (warning != null)
            p #{warning}

    if (!(allGuesses || allCorrect))
        div#keyboard.top-100.mb-2
            div.d-flex.justify-content-center
                each char in topRow
                    div.key(class="#{charColors[char]}", onclick="press(event, this)") #{char}

            div.d-flex.justify-content-center
                each char in middleRow
                    div.key(class="#{charColors[char]}", onclick="press(event, this)") #{char}

            div.d-flex.justify-content-center
                each char in bottomRow
                    div.key(class="#{charColors[char]}", onclick="press(event, this)") #{char}

            div.d-flex.justify-content-center
                div.key.space _
        
