extends layout

block head
    script(src="/javascripts/game.js")
    link(rel='stylesheet', href='/stylesheets/game.css')

block content
  div.text-center.top-60
    h1= title
    - var first = true;
    - var allCorrect = false;
    - var allGuesses = true;
    div.mt-3
        each word in game.guesses
            div.d-flex.justify-content-center.text-center

                if (word != null)
                    - allCorrect = true;
                    each char in word
                        if (char.accuracy == "correct")
                            div.input.success #{char.char}
                        else if (char.accuracy == "close")
                            - allCorrect = false;    
                            div.input.warning #{char.char}
                        else
                            - allCorrect = false;    
                            div.input.danger #{char.char}

                else if (first && !allCorrect)

                    - allGuesses = false;
                    form.text-center(name="guess", method="post", action=process.env.APP_URL + "/game/guess/" + len)
                        div(style="height: 0px; width: 0px;")
                            input#guess(style="opacity: 0; height: 0; width: 0;", type="text", name="guess", maxlength=len, autocomplete="off", autofocus="autofocus", onkeydown="removeNext(this, event)", onkeyup="inputEntered(this)")
                            input(type="submit", style="display: none")

                    - for(var i = 0; i < len; i++)
                        - if (i == 0)
                            div.input.cur-input.focus(id="select"+i, onclick="select(this)")
                        - else
                            div.input.cur-input(id="select"+i, onclick="select(this)")

                    - first = false;

                else 
                    - for(var i = 0; i < len; i++)
                        div.input
                                    
    div.spacer              
        if (allGuesses && !allCorrect)
            p.mt-3.answer
                | The word was 
                strong #{game.word}
        if (allGuesses || allCorrect)
            div.mt-3
                button.btn.btn-info(onclick="window.location.href='/game/#{len}'") Play Again
        if (warning != null)
            p #{warning}

    if (!(allGuesses || allCorrect))
        div#keyboard.top-100.mb-2
            div.d-flex.justify-content-center
                div.key(onclick="press(event, this)") q
                div.key(onclick="press(event, this)") w
                div.key(onclick="press(event, this)") e
                div.key(onclick="press(event, this)") r 
                div.key(onclick="press(event, this)") t
                div.key(onclick="press(event, this)") y
                div.key(onclick="press(event, this)") u
                div.key(onclick="press(event, this)") i
                div.key(onclick="press(event, this)") o
                div.key(onclick="press(event, this)") p

            div.d-flex.justify-content-center
                div.key(onclick="press(event, this)") a
                div.key(onclick="press(event, this)") s
                div.key(onclick="press(event, this)") d
                div.key(onclick="press(event, this)") f
                div.key(onclick="press(event, this)") g
                div.key(onclick="press(event, this)") h
                div.key(onclick="press(event, this)") j
                div.key(onclick="press(event, this)") k
                div.key(onclick="press(event, this)") l

            div.d-flex.justify-content-center
                div.key(mousedown="press(event, this)") z
                div.key(onclick="press(event, this)") x
                div.key(onclick="press(event, this)") c
                div.key(onclick="press(event, this)") v
                div.key(onclick="press(event, this)") b
                div.key(onclick="press(event, this)") n
                div.key(onclick="press(event, this)") m
                div.key &#10229;

            div.d-flex.justify-content-center
                div.key.space _
        
