extends layout

block content
  div.text-center.top-60
    h1= title
    - var first = true;
    - var allCorrect = false;
    - var allGuesses = true;
    div.mt-3
        each word in game.guesses
            div.text-center
                if (word == null && first && !allCorrect)

                    - allGuesses = false;
                    form.text-center(name="guess", method="post", action=process.env.APP_URL + "/game/guess/" + len)

                        - for(var i = 0; i < len; i++)
                            - if (i == 0)
                                input.cur-input.h2.m-1(type="text", name=i, maxlength="1", onkeyup="next(this)", onclick="this.select()", autocomplete="off", autofocus="autofocus")
                            - else
                                input.cur-input.h2.m-1(type="text", name=i, maxlength="1", onkeyup="next(this)", onclick="this.select()", autocomplete="off")

                        input(type="submit", style="display: none")
                        - first = false;

                else if (word == null)

                    - for(var i = 0; i < len; i++)
                        input.h2.m-1(readonly, tabindex="-1")

                else
                    - allCorrect = true;
                    each char in word
                        if (char.accuracy == "correct")
                            input.h2.m-1.success(type="text", name="1", value=char.char, readonly, tabindex="-1")
                        else if (char.accuracy == "close")
                            - allCorrect = false;    
                            input.h2.m-1.warning(type="text", name="1", value=char.char, readonly, tabindex="-1")
                        else
                            - allCorrect = false;    
                            input.h2.m-1.danger(type="text", name="1", value=char.char, readonly, tabindex="-1")
    div.spacer
        if (allGuesses && !allCorrect)
            p.mt-3.answer
                | The word was 
                strong #{game.word}
        if (allGuesses || allCorrect)
            div.mt-3
                button.btn.btn-info(onclick="window.location.href='/game/#{len}'") Play Again
        if (warning != null)
            p #{warning}

    if (!(allGuesses || allCorrect))
        div#keyboard.top-100.mb-2
            div.d-flex.justify-content-center
                div.key(onclick="press(event, this)") q
                div.key(onclick="press(event, this)") w
                div.key(onclick="press(event, this)") e
                div.key(onclick="press(event, this)") r 
                div.key(onclick="press(event, this)") t
                div.key(onclick="press(event, this)") y
                div.key(onclick="press(event, this)") u
                div.key(onclick="press(event, this)") i
                div.key(onclick="press(event, this)") o
                div.key(onclick="press(event, this)") p

            div.d-flex.justify-content-center
                div.key(onclick="press(event, this)") a
                div.key(onclick="press(event, this)") s
                div.key(onclick="press(event, this)") d
                div.key(onclick="press(event, this)") f
                div.key(onclick="press(event, this)") g
                div.key(onclick="press(event, this)") h
                div.key(onclick="press(event, this)") j
                div.key(onclick="press(event, this)") k
                div.key(onclick="press(event, this)") l

            div.d-flex.justify-content-center
                div.key(mousedown="press(event, this)") z
                div.key(onclick="press(event, this)") x
                div.key(onclick="press(event, this)") c
                div.key(onclick="press(event, this)") v
                div.key(onclick="press(event, this)") b
                div.key(onclick="press(event, this)") n
                div.key(onclick="press(event, this)") m
                div.key &#10229;

            div.d-flex.justify-content-center
                div.key.space _
        
