doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href='/css/fontawesome.css')
    link(rel="stylesheet", href='/css/brands.css')
    link(rel="stylesheet", href='/css/solid.css')

    block head

  body.pb-0.pt-4
    div.d-flex.justify-content-between
      div
        a.me-3(href=process.env.APP_URL, style="color: inherit;")
          i.fa.fa-home.fa-lg
        a(href=process.env.APP_URL, style="color: inherit;")
          i.fa.fa-play.fa-lg  
      div.ml-auto
        if (typeof user === 'undefined')
          a(href=process.env.APP_URL + '/login') Login
        else
          a(href=process.env.APP_URL + '/profile', style="color: inherit;")
            div #{user.name}

    hr

    if (error != undefined)
      div.error.d-flex.m-2.p-2 #{error}

    block content