doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href='/css/fontawesome.css')
    link(rel="stylesheet", href='/css/brands.css')
    link(rel="stylesheet", href='/css/solid.css')

    block head

  body.m-0.p-0.bg-light
    div.pt-3.pb-3.ps-4.pe-4.d-flex.justify-content-between.bg-white
      div.d-flex.me-auto(style="width:25%;")
        a.mt-auto.mb-auto.me-3(href=process.env.APP_URL, style="color: inherit;")
          i.fa.fa-home.fa-lg
        a.mt-auto.mb-auto.me-3(href=process.env.APP_URL + "/game/5", style="color: inherit;")
          i.fa.fa-play.fa-lg  
        a.mt-auto.mb-auto(href=process.env.APP_URL + "/leaderboard/5", style="color: inherit;")
          i.fa.fa-list-ol.fa-lg  

      div.d-flex.ms-auto.me-auto.justify-content-center(style="width:40%;")
          a.mt-auto.mb-auto(href=process.env.APP_URL, style="color: inherit; text-decoration: none;")
            h3.m-0 #{process.env.APP_NAME}

      div.d-flex.ms-auto(style="width:25%;")
        div.ms-auto.mt-auto.mb-auto
          if (typeof user === 'undefined')
            button.btn.btn-info(style="height:40px;", onclick="window.location.href='/login'") Login
          else
            a(href=process.env.APP_URL + '/profile', style="color: inherit;") #{user.name}

    hr.m-0

    if (error != undefined)
      div.error.d-flex.m-2.p-2 #{error}

    div.m-3.mb-0
      block content