extends layout

block head 
  link(rel='stylesheet', href='/stylesheets/leaderboard.css')

block content
  div.container.mt-3(style="max-width:800px;")
    div.card
      div.card-header.d-flex.text-center
        div.ms-auto.me-auto.d-flex
          - var type_redirect = consts.GAME_TYPES[Math.max(consts.GAME_TYPES.indexOf(type) - 1, 0)]
          a.m-2.mt-auto.mb-auto(class = (type == type_redirect) ? "hidden" : "", href=process.env.APP_URL + "/leaderboard/" + type_redirect + "/" + len, style="color: inherit;")
            i.fa.fa-arrow-left.fa-lg

          div.m-2
            h2#game-type.m-0 #{type[0].toUpperCase() + type.substring(1)} Leaderboard

          - var type_redirect = consts.GAME_TYPES[Math.min(consts.GAME_TYPES.indexOf(type) + 1, consts.GAME_TYPES.length - 1)]
          a.m-2.mt-auto.mb-auto(class = (type == type_redirect) ? "hidden" : "", href=process.env.APP_URL + "/leaderboard/" + type_redirect + "/" + len , style="color: inherit;")
            i.fa.fa-arrow-right.fa-lg

      div.card-body(style="font-size:20px; color:black; flex-wrap: wrap;")
        div.d-flex.mb-2
          a.ms-auto.mt-auto.mb-auto.me-1(class = (len == consts.MIN_WORD_LEN) ? "hidden" : "", href=process.env.APP_URL + "/leaderboard/" + type + "/" + (len - 1), style="color: inherit;")
            i.fa.fa-arrow-left(style="font-size: .75em;")

          h3.m-2.mt-0.mb-0 #{len} Letters

          a.me-auto.mt-auto.mb-auto.ms-1(class = (len == consts.MAX_WORD_LEN) ? "hidden" : "", href=process.env.APP_URL + "/leaderboard/" + type + "/" + (len + 1), style="color: inherit;")
            i.fa.fa-arrow-right(style="font-size: .75em;")

        - var seen = false;
        each user in leaderboard
          div.d-flex
            div.list-item.m-2.ms-auto.me-auto(class=(user.cur_user !== undefined) ? "cur_user" : "", style="width:100%; max-width:600px;")
              div.d-flex
                div.me-4.ms-1.mt-auto.mb-auto.rank #{user.rank}
                div(style="overflow: hidden;")
                  div(style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;") User: #{user.name}
                  div Average Score:  #{Math.round(((user.averageScore) + Number.EPSILON) * 100) / 100}
          if (user.cur_user !== undefined)
              - seen = true;
                
        if (!seen)
          div.d-flex
            div.list-item.m-2.ms-auto.me-auto.cur_user(style="width:100%; max-width:600px;") Play #{consts.LEADERBOARD_REQUIRED_GAMES_PLAYED} games in this category to be on the leaderboard
