extends layout

block content
  div.d-flex
    h1= title
    button.btn.btn-info.ms-auto(style="height:40px;", onclick="window.location.href='/logout'") Logout

  div
    each vals, length in userScores
      a(href=process.env.APP_URL + '/game/' + length, style="color: inherit; text-decoration: none;")
        h3.mt-3.ms-3 #{length} Letters

      div.m-3.d-flex(style="min-height: 250px;")
        div.detail.mt-auto
          p.m-2.text-center Guesses:

        each val, key in vals
          if (key != "gamesPlayed" && key != "totalScore")
            div.detail.mt-auto(style="min-width: 60px")
              div
                p.m-1.text-center #{val}
              div.bar.bg-secondary.ms-auto.me-auto(style="height: #{Math.max(Math.round((val / vals.totalScore) * 1400), 5)}px; width: 80%;")
              div
                p.m-2.text-center #{key}

        div.detail.mt-auto.mb-auto
          p.m-2 Games Played : #{vals.gamesPlayed}
          p.m-2 Average Score : #{(vals.gamesPlayed != 0) ? Math.round(((vals.totalScore / vals.gamesPlayed) + Number.EPSILON) * 100) / 100 : "NA"}
