extends layout

block content
  h1= title
  p Welcome #{user.name}

  div.d-flex
    each vals, length in user.scores
      div.m-3
        h3 #{length} letters
        each val, key in vals
          if (key == "failed")
            p #{key} : #{val}
          else
            p #{key} Guesses: #{val}

  a(href=process.env.APP_URL + '/game') Play
