extends layout

block content
  div.container.mt-3(style="max-width:800px;")
    div.card
      div.card-header.d-flex
        div.ms-auto.me-auto.d-flex
          - var type_redirect = consts.GAME_TYPES[Math.max(consts.GAME_TYPES.indexOf(type) - 1, 0)]
          a.m-2.mt-auto.mb-auto(class = (type == type_redirect) ? "hidden" : "", href=process.env.APP_URL + "/profile/" + type_redirect + "/" + len, style="color: inherit;")
            i.fa.fa-arrow-left.fa-lg

          div.m-2
            h2#game-type.m-0 #{type[0].toUpperCase() + type.substring(1)} Profile

          - var type_redirect = consts.GAME_TYPES[Math.min(consts.GAME_TYPES.indexOf(type) + 1, consts.GAME_TYPES.length - 1)]
          a.m-2.mt-auto.mb-auto(class = (type == type_redirect) ? "hidden" : "", href=process.env.APP_URL + "/profile/" + type_redirect + "/" + len , style="color: inherit;")
            i.fa.fa-arrow-right.fa-lg

      div.card-body(style="font-size:20px; color:black; flex-wrap: wrap;")
        div.d-flex.mb-2
          a.ms-auto.mt-auto.mb-auto.me-1(class = (len == consts.MIN_WORD_LEN) ? "hidden" : "", href=process.env.APP_URL + "/profile/" + type + "/" + (len - 1), style="color: inherit;")
            i.fa.fa-arrow-left(style="font-size: .75em;")

          h3.m-2.mt-0.mb-0 #{len} Letters

          a.me-auto.mt-auto.mb-auto.ms-1(class = (len == consts.MAX_WORD_LEN) ? "hidden" : "", href=process.env.APP_URL + "/profile/" + type + "/" + (len + 1), style="color: inherit;")
            i.fa.fa-arrow-right(style="font-size: .75em;")


        if (userScores != undefined && userScores.gamesPlayed > 0)
          div.d-flex.ms-2.p-2(style="flex-wrap: wrap;")
            div
              div Guesses:

              div.ms-2(style="width: 295px;")

                - max = 0;
                each val, key in userScores
                  - if (key != "gamesPlayed" && key != "totalScore" && userScores.gamesPlayed != 0 && val > max) max = val

                each val, key in userScores
                  if (key != "gamesPlayed" && key != "totalScore")

                    div.m-2.d-flex

                      div.d-flex.me-2(style="width: 50px; justify-content: center; align-content: center; flex-direction: column;")
                        div.ms-auto(style="display: inline-block; font-size: 20px;") #{key}:

                      div.bg-secondary(style="width: #{(userScores.gamesPlayed != 0) ? Math.max(Math.round((val / max) * 200), 5) : 5}px; height: 50px")

                      div.m-1.d-flex(style="justify-content: center; align-content: center; flex-direction: column; font-size: 20px;") #{val}

            div.ms-auto.me-auto.d-flex(style="justify-content: center; align-content: center; flex-direction: column;")
              div.me-4.mt-2 Average Score : #{(userScores.gamesPlayed != 0) ? Math.round(((userScores.totalScore / userScores.gamesPlayed) + Number.EPSILON) * 100) / 100 : "NA"}
              div.me-4.mt-2 Games Played : #{userScores.gamesPlayed}
        else
          div.d-flex.ms-2.p-2(style="flex-wrap: wrap;")
            div
              div No Games Played